---
import { PostCardGrid } from "src/components/post-card/post-card-grid";
import { Button } from "components/button/button";
import { PostInfo, CollectionInfo } from "types/index";
import { SubHeader } from "../../components/subheader/subheader";
import Hero from "../../components/hero/hero.astro";
import * as api from "utils/api";
import { isDefined } from "utils/is-defined";

export interface HomepageProps {
	posts: PostInfo[];
}

const { posts } = Astro.props as HomepageProps;

const postAuthors = new Map(
	[...new Set(posts.flatMap((p) => p.authors))]
		.map((id) => api.getPersonById(id))
		.filter(isDefined)
		.map((u) => [u.id, u]),
);
---

<Hero />
<section style="margin-bottom: 2rem;">
	<SubHeader tag="h2" text="Recent articles" id="posts-header">
		<Button href="/page/1" aria-labelledby="posts-header">
			{"View all"}
		</Button>
	</SubHeader>

	<PostCardGrid
		aria-labelledby="posts-header"
		postsToDisplay={posts}
		postAuthors={postAuthors}
		postHeadingTag="h3"
	/>
</section>
