---
import reikazeLogo from "assets/reikaze-full-logo.png";
import style from "./hero.module.scss";
---

<section class={`${style.header}`}>
	<h1 class="sr-only">Reikaze Rambles</h1>
	<img src={reikazeLogo.src} style="height: auto; width: 100%" alt="" />
	<p
		class="text-style-headline-4"
		style="font-family: var(--uu-font-family); font-weight: normal; text-align: center"
	>
		The new home for RockmanDash Reviews
	</p>
</section>
