---
import Document from "../layouts/document.astro";
import { getPosts } from "utils/api";
import SEO from "components/seo/seo.astro";
import Homepage from "src/views/explore/homepage.astro";

const posts = getPosts();
const postsToDisplay = posts.slice(0, 6);
---

<Document>
	<SEO slot="head" title="Homepage" />
	<main class="container">
		<Homepage posts={postsToDisplay} />
	</main>
</Document>
